<h2>Discussions</h2>

<div id="discussions">
<%# Expands to render partial: "discussions/discussion", collection: car.discussions %>
    <%= render car.discussions %>
</div>

<%= render "discussions/new", car: car %>